<% provide(:active, 'user') %>
<% content_for :side do %>
<ul id="first_class">
  <li><a class="first_li active">用户注册</a></li>
  <li><%= link_to '用户登录', new_user_session_path, class: 'first_li' %></li>
</ul>
<% end %>
<div class="title"><h1>用户注册</h1></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="row">
  <!-- <%= devise_error_messages! %> -->
  <div class="row">
    <div class="large-6 columns">
      <label>Email
        <%= f.email_field :email, autofocus: true %>
      </label>
    </div>
    <div class="large-6 columns">
      <label>姓名
        <%= f.text_field :name %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>密码
        <%= f.password_field :password, autocomplete: "off" %>
      </label>
    </div>
    <div class="large-6 columns">
      <label>重复密码
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="large-6 columns radio">
        <label>是否为社员</label>
        <%= f.radio_button :user_type, 'validating' %><label for="user_user_type_validating">是</label>
        <%= f.radio_button :user_type, 'visitor', checked: true %><label for="user_user_type_visitor">不是</label>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="row">
        <div class="large-6 columns">
        <label>班级
          <%= f.text_field :class_name, disabled: true %>
        </label>

      </div>
      <div class="large-6 columns">
        <label>QQ号
          <%= f.text_field :qq, disabled: true %>
        </label>
      </div>
    </div class="row">
  </div>
  <div class="submit"><%= f.submit "注册", :class => 'button' %></div>
</div>
</div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
