<header>
  <div id="logo"><%= link_to image_tag("http://dn-ipa-public.qbox.me/logo.svg"), root_path %></div>
  <div id="uinfo">
    <% if user_signed_in? %>
    欢迎，<%= current_user.name %> | <%= link_to "登出", destroy_user_session_path, method: "delete" %>
    <% else %>
    <%= link_to "注册", new_user_registration_path %> | <%= link_to "登录", new_user_session_path %>
    <% end %>
  </div>
  <div>
    <div id="full_name"><%= image_tag "http://dn-ipa-public.qbox.me/full.svg" %></div>
    <nav active="<%= yield(:active) %>" id="header_nav">
      <ul>
        <li id="nav_intro"><%= link_to "简介", root_path %></li>
        <li id="nav_video"><%= link_to '视频', videos_path %></li>
        <li id="nav_photo"><a>摄影</a></li>
        <li id="nav_movie"><%= link_to '微电影', mfilms_path %></li>
        <li id="nav_activity"><a>活动</a></li>
        <li id="nav_user"
        <% unless user_signed_in? %>
        style="visibility: hidden;"
        <% end %>
        >
        <%= link_to '社员面板', current_user ? user_path(current_user) : nil %></a></li>
      </ul>
    </nav>
  </div>
</header>