<% provide(:active, 'intro') %>
<% content_for :side do %>
<ul id="first_class">
  <li><%= link_to '社团概况', root_path, class: 'a first_li' %></li>
  <li>
    <span class="first_li">部门介绍</span>
    <ul id="second_class">
      <li><%= link_to '摄影部', photo_path %></li>
      <li><%= link_to '后期部', post_path %></li>
      <li><%= link_to '宣传部', pub_path %></li>
      <li><%= link_to '硬件程序部', hp_path %></li>
      <li><a class="active">微电影部</a></li>
    </ul>
  </li>
</ul>
<% end %>
<div class="img_container">
  <div class="item">
    <%= image_tag '#' %>
    <p>
      我们将梦想拍成微电影，<br>
      将自己的心愿变为现实。<br>
      如果你会录像，<br>
      如果你知道怎么将电影拍的出彩<br>
      如果你有表演的才华，<br>
      如果你有很强的组织能力——<br>
      场记、录音、摄影、演员，<br>
      总有你发挥长处的地方。<br>
      只要你有一颗热爱电影的心，<br>
      请加入IPA微电影部，<br>
      有你，我们的社团更强大。
    </p>
  </div>
</div>
