<% provide(:active, 'user') %>
<% content_for :side do %>
<ul id="first_class">
  <li><%= link_to '用户注册', new_user_registration_path, class: 'first_li' %></li>
  <li><a class="first_li active">用户登录</a></li>
</ul>
<% end %>
<div class="title"><h1>用户登录</h1></div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <%= devise_error_messages! %>
  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <%= f.email_field :email, autofocus: true %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>密码
        <%= f.password_field :password, autocomplete: "off" %>
      </label>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "记住我" %></div>
  <% end -%>
  <div class="submit"><%= f.submit "登录", :class => 'button' %></div>
</div>
<% end %>
