<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "无锡一中IPA" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#86477c131df0aa6e428ee98ff6c6e40a"></script> <script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: 'c7ee0712140a12f3f961c639'});</script>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %>">
  <%= render partial: 'shared/header' %>
  <div id="main">
    <%= render partial: 'shared/side' %>
    <%= render partial: 'shared/container' %>
  </div>
  <%= render partial: 'shared/footer' %>

</body>
</html>